.instructionsList {
  margin-bottom: 24px;
  padding-left: 24px;
  line-height: 1.6;
  color: #495057;
  font-size: 15px;

  li {
    margin-bottom: 8px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.highlight {
  font-weight: 600;
  color: #007bff;
}